<% content_for :title, "Giphy My Backround" %>
<h1>Giphy My Background</h1>

<h2><strong><%= link_to 'Giphy Time', controller: 'homes' %></strong></h2>

<p>Simple app that created to teach me about API's. Hope you enjoy!</p>

<p>Once you click the link above you can view a GIF. If you get tired of it, just click anywhere on the page to load up another randomly selected GIF.</p>


